<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible js">
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff" />
    {{#if base_url}}
    <base href="{{ base_url }}">
    {{/if}}

    <!-- Favicon -->
    <link rel="icon" href="{{ path_to_root }}favicon.svg">
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">

    <title>{{ mdzk_title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/variables.css">
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/chrome.css">
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/fonts.css">
    {{#if has_user_css}}
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/user.css">
    {{/if}}

    <!-- KaTeX -->
    <link rel="stylesheet" href="{{ path_to_root }}css/katex.min.css">
    <script defer src="{{ path_to_root }}js/katex.min.js"></script>

    <!-- Highlight.js -->
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/atom-one-light.css">
    <script src="{{ path_to_root }}js/highlight.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <!-- Provide site root to javascript -->
    <script type="text/javascript">
        var path_to_root = "{{ path_to_root }}";
        var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
    </script>

    <!-- Work around some values being stored in localStorage wrapped in quotes -->
    <script type="text/javascript">
        try {
            var sidebar = localStorage.getItem('mdbook-sidebar');
            if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
            }
        } catch (e) { }
    </script>

    <!-- Hide / unhide sidebar before it is displayed -->
    <script type="text/javascript">
        var html = document.querySelector('html');
        var sidebar = 'hidden';
        if (document.body.clientWidth >= 1080) {
            try { sidebar = localStorage.getItem('mdzk-sidebar'); } catch(e) { }
            sidebar = sidebar || 'visible';
        }
        html.classList.remove('sidebar-visible');
        html.classList.add("sidebar-" + sidebar);
    </script>

    <!-- Sidebar -->
    <nav id="sidebar" class="sidebar" aria-label="Table of contents">
      <div class="sidebar-scrollbox">
        {{#toc}}{{/toc}}
        <p id="watermark"><a href="https://mdzk.app">Made with mdzk</a></p>
      </div>
      <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
    </nav>

    <div id="page-wrapper" class="page-wrapper">
      <div class="page">
        <div id="menu-bar-hover-placeholder"></div>
        <div id="menu-bar" class="menu-bar sticky bordered">
          <div class="left-buttons">
            <button id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
              ☰
            </button>
          </div>

          <h1 class="menu-title">{{ title }}</h1>

          <div class="right-buttons">
            <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
              ⌕
            </button>
          </div>
        </div>

        <div id="search-wrapper" class="hidden">
          <form id="searchbar-outer" class="searchbar-outer">
            <input type="search" id="searchbar" name="searchbar" placeholder="Search inside mdzk..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
          </form>
          <div id="searchresults-outer" class="searchresults-outer hidden">
            <div id="searchresults-header" class="searchresults-header"></div>
            <ul id="searchresults">
            </ul>
          </div>
        </div>

        <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
        <script type="text/javascript">
          document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
          document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
          Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
              link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
          });
        </script>

        <div id="content" class="content">
          <main>
              {{{ content }}}
          </main>
        </div>
      </div>
    </div>

    <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
    <script type="text/javascript">
        document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
        document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
        Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
            link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
        });
    </script>

    <!-- JS for page functionality -->
    <script src="{{ path_to_root }}js/page.js" type="text/javascript" charset="utf-8"></script>

    <!-- Search JS -->
    <script src="{{ path_to_root }}js/elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ path_to_root }}js/mark.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ path_to_root }}js/searcher.js" type="text/javascript" charset="utf-8"></script>

    <!-- Livereload script (if served using the cli tool) -->
    {{#if livereload}}
    <script type="text/javascript">
        var socket = new WebSocket("{{{livereload}}}");
        socket.onmessage = function (event) {
            if (event.data === "reload") {
                socket.close();
                location.reload();
            }
        };
        window.onbeforeunload = function() {
            socket.close();
        }
    </script>
    {{/if}}
  </body>
</html>
