<!DOCTYPE HTML>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ path_to_root }}css/inter.css">

    <!-- KaTeX -->
    <link rel="stylesheet" href="{{ path_to_root }}css/katex.css">
    <script defer src="{{ path_to_root }}js/katex.js"></script>
    <script defer src="{{ path_to_root }}js/auto-render.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
              ],
              throwOnError : false
            });
        });
    </script>
  </head>
<body>
  <nav id="sidebar" class="sidebar" aria-label="Table of contents">
      <div class="sidebar-scrollbox">
          {{#toc}}{{/toc}}
      </div>
      <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
  </nav>
  {{content}}
</body>
</html>
